@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.header {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 40px;
}
.InitialDataFetching {
  display: flex;
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;
}

.input-container {
  position: relative;
  min-width: 500px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.Ip-search {
  border: none;
  border-radius: 12px;
  padding-left: 20px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  height: 55px;
  font-size: 16px;
}

.submit-button {
  position: absolute;
  right: 0;
  height: 100%;
  border: none;
  background-color: black;
  color: white;
  padding: 0 15px;
  cursor: pointer;
  border-radius: 0 12px 12px 0;
}

.submit-button:hover {
  background-color: rgb(44, 44, 44);
}

.IpContainerDetails {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 215px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 24px 28px rgba(0, 0, 0, 0.1);
  min-width: 800px;
}
.ContainerSection:last-child {
  border-right: none;
}
.leaflet-container {
  position: relative;
  z-index: 0;
}
.ContainerSection {
  padding: 10px 24px;
  border-right: 1px solid hsl(0, 0%, 80%);
}

.ContainerSection h3 {
  margin: 0;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 2rem;
  color: hsl(0, 0%, 59%);
}

.ContainerSection p {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 700;
  font: bold;
  color: hsl(0, 0%, 17%);
}
